@import "@/styles/imports/colors";
@import "@/styles/imports/mixins";

.home {
  @include flexCenter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  min-height: 100vh !important;
}

.title {
  font-family: "Dancing Script", cursive;
  text-shadow: 0 0 10px $white;
  margin: 10px;
  font-size: 75px;
  text-align: center;
}

.admins {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5em 0em;

  button {
    margin: 0 15px;
  }
}

@media only screen and (max-width: 900px) {
  .home {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
