@import "@/styles/imports/colors";
@import "@/styles/imports/mixins";

.home {
  @include flexCenter;
  flex-direction: column;
  height: 100vh;
}

.title {
  font-family: "Brittany Signature", sans-serif;
  text-shadow: 0 0 10px $white;
  margin: 10px;
  font-size: 50px;
}

.admins {
  @include flexCenter;
  margin: 50px 0;

  button {
    margin: 0 15px;
  }
}
