@import "@/styles/imports/colors";
@import "@/styles/imports/mixins";

.steven {
  @include flexCenter;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  z-index: 1;
  font-family: "Red Hat Mono", monospace;
}

.weather {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 2vw;
  top: 60px;
}

.projects {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba($dark, 1), rgba($darkGray, 1));
  z-index: -1;

  .allCards {
    width: 90%;
    min-height: 100vh;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    padding: 5em;
  }

  h1 {
    font-size: 4em;
    color: white;
  }
}

.card {
  position: relative;
  display: flex;
  justify-content: top;
  flex-direction: column;
  min-width: 300px;
  max-width: 400px;
  min-height: 300px;
  max-height: 500px;
  border-radius: 3%;
  text-align: left;
  flex-grow: 2;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.15);
  background: linear-gradient(
    135deg,
    rgba($black, 0.9),
    rgba($white, 0.07),
    rgba($white, 0.01)
  );

  img {
    position: absolute;
    width: 100%;
    border-radius: 3%;
    height: 100%;
    z-index: -1;
  }

  h2 {
    font-weight: 100;
    font-size: 1.2em;
    z-index: 1;
    margin: 1em 0 0 0;
    padding-left: 1em;
    color: $white;
    font-weight: 900;
    text-shadow: 2px 2px 5px #000; /* horizontal-offset vertical-offset 'blur' colour */
  }

  hr {
    border-color: $pink;
    background: $pink;
    height: 2px;
    width: 0%;
    z-index: -3;
  }

  p {
    color: rgb(0, 0, 0, 0);
    font-size: 0.9em;
    z-index: 1;
    margin: 0;
    padding: 0 1em 0 1em;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    border-radius: 5%;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border: 1px dashed rgba($green, 0.5);
  }

  &:hover {
    transition: all 0.3s ease-in-out;

    cursor: pointer;
    &::after {
      display: block;
    }
    h2 {
      color: $yellow;
      transition: all 0.3s ease-in-out;
      // text-shadow: -1px -1px 0px $white, 1px -1px 0px $white,
      //   -1px 1px 0px $white, 1px 1px 0px $white;
      font-size: 1.4em;
      font-weight: 900;
    }

    hr {
      transition: width 0.3s ease-in-out;
      width: 90%;
      z-index: 1;
    }

    p {
      transition: color 0.6s ease-in-out;
      color: rgb(224, 224, 224);
    }

    img {
      filter: brightness(0.5) blur(1px);
    }
  }
}

.background {
  position: absolute;
  top: 0;
  min-height: 800px;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to bottom,
      rgba($pink, 0.01),
      rgba($pink, 0.1)
    ),
    url("/steven/home.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  z-index: -2;
}

.content {
  min-height: 800px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding-left: 15em;

    font-size: clamp(0.7rem, 0.5666rem + 0.5333vw, 1rem);
    p {
      margin: 0;
      font-size: 1.2em;
    }

    h1 {
      margin: 0;
      font-size: 7em;
    }
  }

  .previewCards {
    width: 50%;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    gap: 3em;

    place-content: center;
  }

  // @media only screen and (max-width: 1700px) {
  //   .text {
  //     padding-left: 5em;
  //   }
  //   .previewCards {
  //     gap: 1.5em;
  //   }
  // }

  @media only screen and (max-width: 1300px) {
    align-items: center;
    flex-direction: column;

    .text {
      padding: 5em;
      width: 100%;
      min-height: 800px;
      height: 100vh;
    }

    .previewCards {
      display: none;
    }
  }
}
