@import "@/styles/imports/colors";
@import "@/styles/imports/mixins";

$project-bg-color: rgba($dark, 1);
$custom_shape_divider_height: 75px;
$front_page_min_height: 800px;
$layout_change: 700px; // Width under this value -> change layout
.steven {
  font-family: "Red Hat Mono", monospace;
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  top: 0;
  min-height: $front_page_min_height;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to bottom,
      rgba($pink, 0.01),
      rgba($pink, 0.1)
    ),
    url("/steven/home.jpg");
}

.weather {
  position: absolute;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px; /* Need a specific value to work */
}

.projects {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $project-bg-color;
  z-index: -1;

  .allCards {
    width: 100%;
    margin: 100px 0px 100px 0px;
  }

  h1 {
    font-size: 4em;
    color: white;
  }
}

.card {
  position: relative;
  pointer-events: none;
  display: flex;
  justify-content: top;
  flex-direction: column;
  min-width: 300px;
  max-width: 400px;
  min-height: 300px;
  max-height: 400px;
  border-radius: 3%;
  text-align: left;
  flex-grow: 2;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.15);
  background: linear-gradient(
    135deg,
    rgba($black, 0.9),
    rgba($white, 0.07),
    rgba($white, 0.01)
  );

  img {
    position: absolute;
    width: 100%;
    border-radius: 3%;
    height: 100%;
    z-index: 1;
    filter: brightness(0.9) blur(0.5px);
  }

  h2 {
    font-weight: 100;
    font-size: 1.2em;
    z-index: 1;
    margin: 1em 0 0 0;
    padding-left: 1em;
    color: $white;
    font-weight: 900;
    text-shadow: 2px 2px 5px #000; /* horizontal-offset vertical-offset 'blur' colour */
  }

  hr {
    border-color: $pink;
    background: $pink;
    height: 2px;
    width: 0%;
    z-index: -3;
  }

  p {
    color: rgb(0, 0, 0, 0);
    font-size: 0.9em;
    z-index: 1;
    margin: 0;
    padding: 0 1em 0 1em;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    border-radius: 5%;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border: 1px dashed rgba($green, 0.5);
  }

  &:hover {
    transition: all 0.3s ease-in-out;
    &::after {
      display: block;
    }
    h2 {
      color: $yellow;
      transition: all 0.3s ease-in-out;
      font-size: 1.4em;
      font-weight: 900;
    }

    hr {
      transition: width 0.3s ease-in-out;
      width: 90%;
      z-index: 1;
    }

    p {
      transition: color 0.6s ease-in-out;
      color: rgb(224, 224, 224);
    }

    img {
      filter: brightness(0.5) blur(1px);
    }
  }
}

.content__wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 1400px;
    height: 100%;
    padding-bottom: 75px;

    font-size: clamp(0.7rem, 0.5666rem + 0.5333vw, 1rem);
    p {
      margin: 0;
      font-size: 1.2em;
      width: 70%;
    }

    h1 {
      margin: 0;
      font-size: 7em;
    }
  }
}

.scrollWrapper {
  position: relative;
  .scroll-true {
    position: absolute;
    z-index: 99;
    width: 50px;
    height: 50px;
    top: -135px;
    background: transparent;
    border-top: 5px solid white;
    border-right: 5px solid white;
    box-shadow: 0 0 0 lightgray;
    transform: translate3d(-35px, 0, 0) rotate(135deg);
    animation: bounce 3.5s infinite;
    transition: all 200ms ease;
    @keyframes bounce {
      0% {
        top: -135px;
        opacity: 1;
      }
      50% {
        top: -105px;
        opacity: 0.1;
      }
    }
  }

  .scroll-false {
    position: absolute;
    z-index: 99;
    width: 50px;
    height: 50px;
    top: -135px;
    opacity: 0;
    background: transparent;
    border-top: 5px solid white;
    border-right: 5px solid white;
    box-shadow: 0 0 0 lightgray;
    transform: translate3d(0, 0, 0) rotate(135deg);
    animation: fade 0.5s;
    transition: all 200ms ease;
    @keyframes fade {
      0% {
        top: -135px;
        opacity: 1;
      }
      100% {
        top: -105px;
        opacity: 0;
      }
    }
  }
}

.carousel {
  &__items {
    &__item {
      &__card {
        width: fit-content;
        height: fit-content;
      }

      &__active {
        transition: all 0.3s ease-in-out;

        .card {
          pointer-events: all;

          &::after {
            content: "";
            display: block;
            position: absolute;
            border-radius: 5%;
            top: -10px;
            left: -12px;
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            border: 2px dashed rgba($green, 0.5);
          }
          h2 {
            color: $yellow;
            transition: all 0.3s ease-in-out;
            transition-delay: 0.2s;
            // text-shadow: -1px -1px 0px $white, 1px -1px 0px $white,
            //   -1px 1px 0px $white, 1px 1px 0px $white;
            font-size: 1.4em;
            font-weight: 900;
          }

          hr {
            transition: width 0.3s ease-in-out;
            transition-delay: 0.2s;
            width: 90%;
            z-index: 1;
          }

          p {
            transition: color 0.6s ease-in-out;
            transition-delay: 0.2s;
            color: rgb(224, 224, 224);
          }

          img {
            filter: brightness(0.5) blur(1px);
          }
        }
      }
    }
  }
}

.custom_shape_divider_top {
  position: absolute;
  top: calc(max(100vh, $front_page_min_height) - $custom_shape_divider_height);
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: $custom_shape_divider_height;
  }
  path {
    fill: $project-bg-color;
  }
}
