$white: #ffffff;
$pink: #ff105e;
$purple: #c64bff;
$green: #26fb7f;
$blueGreen: #00ffbf;
$blue: #0bf5fd;
$dark: #1d1e20;
$black: #000000;
$yellow: #dcbf00;
$red: #d95246;
$gray: #323544;
$darkGray: #252534;
$darkBlue: #0a1924;
