@import "@/styles/imports/colors";
.drag {
  cursor: move;
  z-index: 99999;
}

.dragging {
  opacity: 0.05;
  animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.2;
  }
}

.selected {
  opacity: 0.5;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: min-content;

    .content {
      display: flex;
    }
  }
}
