@import "@/styles/imports/colors";
@import "@/styles/imports/sizes";

.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  color: $white;
  background-color: $dark;
  height: $nav-height;
  z-index: 9999;
  top: 0;
  width: 100%;
  padding: 10px;

  ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  ul li {
    a {
      margin: 5px 15px;
    }

    &:hover {
      transform: translateY(-2px);
    }
  }
}

.navbarRight {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  img {
    border-radius: 50%;
  }
}
