@import "@/styles/imports/colors";

.card {
  display: flex;
  text-align: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;

  img {
    top: 0;
    height: 75px;
    width: auto;
    margin-bottom: 25px;
  }

  p {
    color: rgba($white, 0.7);
    font-weight: 100;
    margin-bottom: 25px;
  }

  &:hover {
    cursor: pointer;
  }
}

.title {
  font-family: "Dancing Script", cursive;
  margin: 0;
  font-size: 35px;
}
