.ability {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  height: 100px;
}

.ability > h1 {
  margin: 5px 0px 0px 10px;
  font-size: 1.5rem;
  color: #0075be;
}

.ability > p {
  margin: 5px 0px 10px 10px;
  font-size: 1rem;
  text-overflow: ellipsis;
  color: #dfdfdf;
}

.ability > hr {
  margin: 0px 10px 0px 10px;
}
