.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #1d1d1d;
  border-radius: 16px;
  font-family: "Pokemon Solid", sans-serif;

  position: absolute;
  width: inherit;
  height: inherit;
  margin: -10px 0px 0px -10px;
  padding: 10px;
}

.card:hover ~ .rgb {
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff8000 10%,
      #ffff00 20%,
      #80ff00 30%,
      #00ff80 40%,
      #00ffff 50%,
      #0080ff 60%,
      #0000ff 70%,
      #7f00ff 80%,
      #ff00ff 90%,
      #ff007f 100%
    )
    repeat 0% 0% / 300% 100%;
  border-radius: 16px;
  filter: blur(8px);
  animation: rgb 6s linear infinite;
}

@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tilt {
  width: 300px;
  height: 340px;
  padding: 10px;
  background-color: #1d1d1d;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 1);
  border-radius: 16px;
}

.rgb {
  width: inherit;
  height: inherit;
  margin: -10px 0px 0px -10px;
  padding: 10px;
  position: absolute;
  z-index: -1;
}

.cardImage > img {
  width: 200px;
  height: 200px;
  margin-top: -100px;
  position: absolute;
}

.cardTitle {
  padding: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.cardTitle > h1 {
  margin: 15px 10px 2px 5px;
  font-size: 2rem;
  color: #ffcc00;
}

.cardTitle > p {
  margin: 5px 10px 2px 5px;
  font-size: 0.8rem;
  color: white;
  font-weight: 200;
  border-radius: 15px;
  padding: 3px 7px;
  border: 2px solid #dfdfdf;
  background-color: #fb1b1b;
}

.cardTypes {
  align-items: flex-start;
  margin-top: -18px;
  margin-left: -18px;
}

.cardTypes > img {
  width: 75px;
  margin-right: 3px;
  position: relative;
}

.cardText {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.abilities {
  margin-top: 10px;
  overflow: hidden;
}

.stats {
  margin: 0px;
  width: 100%;
  overflow: hidden;
}
