.statContainer {
  padding: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.stats > span {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  color: #dfdfdf;
  font-size: 13px;
}

.stat {
  margin: 5px 0px;
  height: 12px;
  padding: 0;
  border: 3px rgb(97, 96, 96) solid;
  border-radius: 15px;
  background-color: gray;
  border-radius: 15px;
  width: 50%;
}

.stat > div {
  height: 100%;
  border-radius: 15px;
}
