@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 550px;
  &__items {
    height: 100%;
    width: calc(5 * 295px);
    display: flex;
    align-items: center;
    justify-content: center;

    &__center {
      position: relative;
      width: 300px;
      height: 340px;
      z-index: 2;

      &__item {
        position: absolute;
        transition: all ease-in-out 0.2s;
        width: inherit;
        height: inherit;

        &:hover {
          cursor: pointer;
          scale: 1.05;
          opacity: 1;
          z-index: 3;
        }

        &-0 {
          opacity: 25%;
          z-index: 1;
          scale: 0.9;
        }
        &-1 {
          opacity: 40%;
          z-index: 2;
        }
        &-2 {
          opacity: 100%;
          z-index: 4;
          scale: 1.1;
          &:hover {
            scale: 1.1;
          }
          &:active {
            scale: 1.5;
          }
          &::before {
            content: "";
            width: 108%;
            height: 108%;
            border-radius: 16px;
            background-image: linear-gradient(
              var(--rotate),
              #5ddcff,
              #3c67e3 43%,
              #4e00c2
            );
            position: absolute;
            z-index: -1;
            filter: blur(4px);
            top: -3.5%;
            left: -3.5%;
            animation: spin 2.5s linear infinite;
          }

          &::after {
            content: "";
            top: calc(var(--card-height) / 6);
            left: 0;
            right: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            margin: 0 auto;
            filter: blur(calc(var(--card-height) / 6));
            background-image: linear-gradient(
              var(--rotate),
              #5ddcff,
              #3c67e3 43%,
              #4e00c2
            );
            opacity: 1;
            transition: opacity 0.5s;
            animation: spin 2.5s linear infinite;
          }
        }
        &-3 {
          opacity: 40%;
          z-index: 2;
        }
        &-4 {
          opacity: 25%;
          z-index: 1;
          scale: 0.9;
        }

        &__disabled {
          visibility: hidden;
          opacity: 0;
          scale: 0.7;
        }
      }
    }
  }
}

@keyframes fadeinPointer {
  0% {
    pointer-events: none;
  }
  99% {
    pointer-events: none;
  }
  100% {
    pointer-events: all;
  }
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card {
  width: 300px;
  height: 340px;
  padding: 10px;
  background-color: #1d1d1d;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 1);
  border-radius: 16px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #1d1d1d;
    border-radius: 16px;
    font-family: "Pokemon Solid", sans-serif;

    position: absolute;
    width: inherit;
    height: inherit;
    margin: -10px 0px 0px -10px;
    padding: 10px;
  }
}

.button {
  justify-self: flex-end;
  z-index: 99;
  top: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top: 5px solid white;
  border-right: 5px solid white;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
  cursor: pointer;

  &.left {
    left: 0;
    transform: translate3d(0, -50%, 0) rotate(-135deg);
  }

  &.right {
    right: 0;
    transform: translate3d(0, -50%, 0) rotate(45deg);
  }

  &:hover {
    border-color: orange;
    box-shadow: 0.5vmin -0.5vmin 0 white;
  }

  &:before {
    // for better hit area
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%) rotate(45deg);
    width: 200%;
    height: 200%;
  }
}
