@import "@/styles/imports/colors";
@import "@/styles/imports/mixins";

.frithjof {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: 100% auto;
  justify-content: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  z-index: 0;
}

.images {
  width: 100vw;

  img {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    height: 300px;

    &:first-child  {
      left: 0;
    }

    &:last-child {
      right: 0;
      transform: rotate(180deg);
    }
  }
}

.section {
  @include flexCenter;
  width: 100%;
  margin: 175px 0;
}
