@import "@/styles/imports/colors";
@import "@/styles/imports/mixins";

.home {
  @include flexCenter;
  flex-direction: column;
  background-color: black;
}

.container {
  background-color: black;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-bottom: 100vh;
}

.item {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__pokemon {
    justify-content: flex-start;
    height: 90vh;
    border-radius: 50px;
    border: solid $white 2px;
    width: 90%;
    overflow-y: scroll;
    position: relative;
    box-shadow: rgba($white, 0.1) 0px 4px 16px, rgba($white, 0.1) 0px 8px 24px,
      rgba($white, 0.1) 0px 16px 56px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
