@import "@/styles/imports/colors";
@import "@/styles/imports/mixins";

.home {
  @include flexCenter;
  flex-direction: column;
  background-color: black;
}

.container {
  background-color: black;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  gap: 10rem;
  margin-top: 10rem;
  margin-bottom: 100%;
}

.item {
  min-height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__dragdrop {
    width: 100%;
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .container {
        border: dashed 5px white;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__item__carousel {
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    margin: 0;
  }

  &__pokemon {
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: $dark;
    height: 750px;
    border-radius: 50px;
    border: solid $white 2px;
    padding: 150px 7%;
    overflow-y: scroll;
    position: relative;
    box-shadow: rgba($white, 0.1) 0px 4px 16px, rgba($white, 0.1) 0px 8px 24px,
      rgba($white, 0.1) 0px 16px 56px;
    &::-webkit-scrollbar {
      display: none;
    }

    .list {
      height: 100%;
      gap: 50px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      overflow-y: visible;
    }
  }
}
