@import "@/styles/imports/colors";
@import "@/styles/imports/mixins";

.home {
  @include flexCenter;
  flex-direction: column;
  background-color: $dark;
  height: 100vh;
}

.list {
  padding: 200px;
  height: 100vh;
  gap: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: visible;
}

.container {
  height: 100vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
